.home{
    width: 100%;
    position: relative;
    padding-top: 50px; 
    background: url('https://wallpapercave.com/wp/4W0KpiW.jpg')center no-repeat;
    background-size: cover;
}

.home_landing{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background: url('https://wallpapercave.com/wp/4W0KpiW.jpg')center no-repeat;
    background-size: cover;
}

.home_header{
    width: 500px;
    height: 200px;
    position: absolute;
    left: calc(50% - 250px);
    top: 120px;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    text-align: center;
    font-size: 32px;
}

.home_header h2{
    font-size: 46px;
    margin-top: 0px;
}

.home_header_btns{
    width: 300px;
    height: 30px;
    position: absolute;
    top: 340px;
    left: calc(50% - 150px);
}

.home_header_btn{
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background: rgba(20, 20, 20, 0.99);
    box-shadow: 2px 2px 3px #dcdcdc;
    color: #eee;
    cursor: pointer;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    font-size: 18px;
    user-select: none;
    text-decoration: none;
}

.home_header_btn:active{
    box-shadow: inset 2px 2px 3px #dcdcdc;
}