.App {
  width: 100%;
  position: relative;
  background: #eee;
}

.desktop_header{
  width: 100%;
  height: 50px;
  background: #fff;
}

.timeline_container{
  width: 600px;
  min-height: 100vh;
  margin: 10px auto;
  background: #fff;
  position: relative;
}

.timeline_user_tweet{
  width: 100%;
  min-height: 60px;
  background: #E8F5FD;
  border-bottom: 0.5px solid #eee;
  padding: 12px 15px 10px 70px;
}

.timeline_thumbnail{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 15px;
}

.timeline_input{
  width: 510px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #eee;
  padding-top: 9px;
  padding-left: 10px;
  resize: none;
}

.post_tweet_controls{
  width: 100%;
  height: 45px;
  position: relative;
}

.tweet_btn{
  width: 75px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #1da1f2;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
}

.timeline_tweets_wrapper{
  width: 100%;
  position: relative;
}

.tweet{
  width: 100%;
  position: relative;
  padding: 10px 15px 0px 75px;
  text-align: top;
  border-bottom: 0.5px solid #eee;
}

.tweet p{
  display: inline-block;
  margin: 0px 3px 0px 0px;
}

.f12{
  font-size: 12px;
}

.tweet_user_thumbnail{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 10px;
}

.tweet_username{
  font-size: 14px;
  font-weight: bold;
}

.tweet_caption{
  font-size: 14px;
  line-height: 20px;
  width: 510px;
}

.tweet_controls{
  width: 510px;
  height: 30px;
  margin-top: 20px;
}

.tweet_control{
  margin-right: 50px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

